header {
    background-color: #999999;
    padding: 10px;
}

nav {
    text-align: right;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    padding: 10px;
    color: #aa3333;
}

a {
    color: orangered;
}

nav a:hover {
    background-color: #444;
    color: #fff;
}

article {
    background-color: #997777;
    padding: 10px;
    
}
footer {
    background-color: #777799;
    padding: 30px;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
}

.oikea {
    box-sizing: border-box;
    width: 35%;
    float: right;
    padding: 1em;
}
.vasen {
    box-sizing: border-box;
    width: 65%;
    float: left;
    padding: 1em;
}
.clearfix {
    overflow: auto;
}
